config cfspeedtest 'config'
	option enabled '0'
	option thread '200'
	option count '4'
	option download_num '10'
	option download_time '10'
	option port '443'
	option url 'https://cf.xiu2.xyz/url'
	option httping '0'
	option cfcolo 'HKG,KHH,NRT,LAX'
	option tl '9999'
	option tll '0'
	option tlr '1.00'
	option sl '0'
	option result_num '10'
	option disable_download '0'
	option test_all '0'
