config cfspeedtest 'config'
	option enabled '0'
	option thread '200'
	option count '4'
	option download_num '10'
	option download_time '10'
	option port '443'
	option url 'https://cf.xiu2.xyz/url'
	option httping '0'
	option cfcolo 'HKG,KHH,NRT,LAX'
	option tl '9999'
	option tll '0'
	option tlr '1.00'
	option sl '0'
	option result_num '10'
	option disable_download '0'
	option test_all '0'
	
	# 自动应用设置
	option auto_apply '0'
	option apply_target 'hosts'
	option apply_domains 'cf.example.com'
	option passwall_node ''
	option ssrplus_node ''
	
	# 定时任务设置
	option schedule_enabled '0'
	option schedule_type 'daily'
	option schedule_hour '4'
	option schedule_minute '0'
	option schedule_weekday '1'
	option schedule_cron '0 4 * * *'
	
	# 代理设置
	option use_proxy '1'
	option proxy_source 'mirror'
	option custom_proxy ''
	
	# 自定义IP设置
	option use_custom_ip '0'
	
	# ========== 第三方应用设置 ==========
	
	# ShadowsocksR Plus+
	option ssrplus_enabled '0'
	option ssrplus_server ''
	option ssrplus_field 'server'
	option ssrplus_restart '1'
	
	# PassWall2
	option passwall2_enabled '0'
	option passwall2_node ''
	option passwall2_field 'address'
	option passwall2_restart '1'
	
	# Bypass
	option bypass_enabled '0'
	option bypass_server ''
	option bypass_restart '1'
	
	# DNS
	option dns_enabled '0'
	option dns_domain ''
	option dns_restart '1'
	
	# HOST
	option host_enabled '0'
	list host_domains 'cf.example.com'
	option host_restart '1'
	
	# MosDNS
	option mosdns_enabled '0'
	option mosdns_file '/etc/mosdns/rule/cloudflare.txt'
	option mosdns_restart '1'
	
	# OpenClash
	option openclash_enabled '0'
	option openclash_restart '1'
